<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sandra.com.starwarsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activities -->

        <activity android:name="sandra.com.starwarsapp.activity.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.ListActivity"
            android:launchMode="singleTop"
            android:parentActivityName="sandra.com.starwarsapp.activity.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.HomeScreenActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.FilmActivity"
            android:label="Films"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.PeopleActivity"
            android:label="People"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.PlanetsActivity"
            android:label="Planets"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.SpaceshipActivity"
            android:label="Spaceships"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.VehicleActivity"
            android:label="Vehicles"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>

        <activity
            android:name="sandra.com.starwarsapp.activity.SpeciesActivity"
            android:label="Species"
            android:parentActivityName="sandra.com.starwarsapp.activity.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sandra.com.starwarsapp.activity.ListActivity" />
        </activity>
    </application>

</manifest>